.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.clients h1 {
  color: var(--fourth-color);
  text-align: center;
}
.link{
  color: var(--fourth-color);
  text-decoration: none;
  margin-bottom: 30px;
}
.link:hover{
  font-size: x-large;
  transition:0.5s;
  border-bottom: 4px solid var(--third-color);
}